* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
}

.App {
  background-color: #18191a;
  min-height: 100vh;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hijoDeApp {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.titulo {
  padding: 25px 0;
  margin-bottom: 20px;
  font-size: 2.5em;
  text-align: center;
  font-family: lato, sans-serif;
  font-weight: 700;
  color: #ffeccc;
}
